<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
  <%
    var title, htmlTitle, ogimg;
    if ( page.layout !== 'index' ) {
      title = 'Come fare ' + page.titleArticle + ' ' + page.title.toLowerCase();
      htmlTitle = title + ' | ' + config.title + ': ' + config.subtitle;
      ogimg = 'recipes/images/' + page.recipeid + '.png';
    } else {
      title = config.title + ': ' + config.subtitle;
      htmlTitle = title;
      ogimg = 'og-image.png';
    }
  %>
  <title><%- htmlTitle %></title>
  <meta name="keywords" content="<%- config.keywords %>">
  <meta name="description" content="<%- config.description %>">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5b7f3c">
  <meta name="msapplication-TileColor" content="#5b7f3c">
  <meta name="theme-color" content="#5b7f3c">

  <meta property="og:type" content="website">
  <meta property="og:site_name" content="<%- config.title %>: <%- config.subtitle %>">
  <meta property="og:title" content="<%- title %>">
  <meta property="og:description" content="<%- config.description %>">
  <meta property="og:url" content="<%- page.permalink %>">
  <meta property="og:image" content="<%- config.url %>/<%- ogimg %>">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:image:type" content="image/png">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%- title %>">
  <meta name="twitter:description" content="<%- config.description %>">
  <meta name="twitter:url" content="<%- page.permalink %>">
  <meta name="twitter:image" content="<%- config.url %>/<%- ogimg %>">
  <meta name="twitter:image:alt" content="<%- title %>">
  <%- css('css/style') %>
</head>

<body>