<%- partial('_partial/header') %>

  <article>

  <% var i; %>

    <section class="section1" id="principi">

      <h1><div class="sub"><span>Le 3 cose da sapere per fare un</span></div><%- page.title.toLowerCase() %></h1>

      <div class="card-list">
      <% for ( i = 0; i < page.principles.length; i++ ) { %>
        <div>
          <div class="card">
            <p><%- page.principles[ i ] %></p>
          </div>
        </div>
      <% } %>
      <% if ( page.timeToMake ) { %>
        <div>
          <div class="card-time">
            <p>Si può fare in<br/><strong><%- page.timeToMake %></strong></p>
          </div>
        </div>
      <% } %>
      <% if ( page.timeToUse ) { %>
        <div>
          <div class="card-time">
            <p>Si può usare dopo<br/><strong><%- page.timeToUse %></strong></p>
          </div>
        </div>
      <% } %>
      </div>

    </section>

    <section class="section2" id="ingredienti">

      <h2>Ingredienti
        <div class="sub">
          <span><%- page.recipeIntro[ 0 ] %></span>
          <span class="quantity">
            <button class="btn" id="qtyRemove">-</button><span id="qtyValue"><%- page.recipeIntro[ 1 ] %> <%- page.recipeIntro[ 2 ] %></span><button class="btn" id="qtyAdd">+</button>
          </span>
          <span><%- page.recipeIntro[ 3 ] %></span>
        </div>
      </h2>

      <div class="card-list">
      <%

        var ingr = {};

        for ( i = 0; i < page.ingredients.length; i++ ) {

          ingr[ page.ingredients[ i ][ 0 ] ] = { ratio: +page.ingredients[ i ][ 1 ] };

      %>
        <div>
          <div class="card">
            <% if ( page.ingredients[ i ][ 6 ] === 'optional' ) { %>
              <div class="card-header">
                <p>opzionale</p>
                <button class="btn">Escludi</button>
              </div>
            <% } %>
            <h4><span class="ingredient"><%- page.ingredients[ i ][ 2 ] %></span><br/><span class="quantity"><span data-qty="<%- page.ingredients[ i ][ 0 ] %>"><%- page.ingredients[ i ][ 3 ] %></span> <%- page.ingredients[ i ][ 4 ] %></span></h4>
            <% if ( page.ingredients[ i ][ 5 ] ) { %><p class="note"><%- page.ingredients[ i ][ 5 ] %></p><% } %>
          </div>
        </div>
      <% } %>
      <% if ( page.recipeDisclaimer ) { %>
        <div>
          <div class="card-empty">
            <p><%- page.recipeDisclaimer %></p>
          </div>
        </div>
      <% } %>
        <script>var recipeVolume=<%- page.recipeVolume %>;recipeWeight=<%- page.recipeWeight %>;ingredients=<%- JSON.stringify( ingr ) %></script>
      </div>

    </section>

    <section class="section3" id="attrezzatura">

      <h2>Attrezzatura</h2>

      <div class="card-list">
      <% for ( i = 0; i < page.tools.length; i++ ) { %>
        <div>
          <div class="card">
            <h4><%- page.tools[ i ][ 0 ] %></h4>
            <% if ( page.tools[ i ][ 1 ] ) { %><p class="note"><%- page.tools[ i ][ 1 ] %></p><% } %>
          </div>
        </div>
      <% } %>
      </div>

    </section>

    <section class="section4" id="procedimento">

      <h2>Procedimento</h2>

      <div class="card-list card-list-ordered">
      <% for ( i = 0; i < page.directions.length; i++ ) { %>
        <div>
          <div class="card">
            <p><%- page.directions[ i ][ 0 ] %></p>
            <% if ( page.directions[ i ][ 1 ] ) { %><p class="note"><%- page.directions[ i ][ 1 ] %></p><% } %>
          </div>
        </div>
      <% } %>
      </div>

    </section>

    <section class="section5" id="uso">

      <h2>Uso e conservazione</h2>

      <div class="card-list">
      <% for ( i = 0; i < page.usage.length; i++ ) { %>
        <div>
          <div class="card">
            <p><%- page.usage[ i ][ 0 ] %></p>
            <% if ( page.usage[ i ][ 1 ] ) { %><p class="note"><%- page.usage[ i ][ 1 ] %></p><% } %>
          </div>
        </div>
      <% } %>
      </div>

    </section>

    <div class="article-nav">
      <div class="article-actions">
      </div>
      <button class="btn btn-main"><span>Continua</span></button>
    </div>

  </article>

  <footer>

    <div class="content">

      <h3>Fonti</h3>

      <ul>
      <% for ( i = 0; i < page.sources.length; i++ ) { %>
        <li><a href="<%- page.sources[ i ][ 1 ] %>" target="_blank"><%- page.sources[ i ][ 0 ] %></a></li>
      <% } %>
      </ul>

    </div>

  </footer>