  <div class="home-main">

    <div class="home-about">
      <div class="content">
        <div class="logo">
          <img src="images/simpletomake-logo.svg" alt="Simple to Make">
        </div>
        <div><%
        for ( var i = 0; i < page.introBlocks.length; i++ ) { %>
          <p><%- page.introBlocks[ i ] %></p><%
        } %>
        </div>
      </div>
    </div>

    <div class="home-menu">
      <div class="content">
        <h1><%- config.subtitle %></h1>
  <%

      var i, recipeLabel,
        recipes_list    = site.pages.filter( p => p.layout === 'recipe' ),
        recipes_hygiene = recipes_list.filter( p => p.category === 'hygiene' )
          .sort( 'index' ),
        recipes_food    = recipes_list.filter( p => p.category === 'food' )
          .sort( 'index' );
        recipes_new     = page.newRecipes.slice();

    %>
        <h2><%- page.listTitleHygiene %></h2>
        <ul><%

        recipes_hygiene.forEach( recipe => {
          recipeLabel = recipe.title.replace( '(', '<span>' ).replace( ')', '</span>' );
  %>
          <li<% if ( recipes_new.indexOf( recipe.recipeid ) > -1 ) { %> class="new"<% } %>><a href="<%- recipe.path %>" class="btn btn-main"><%- recipeLabel %></a></li><%
          }) %>
        </ul>
        <h2><%- page.listTitleFood %></h2>
        <ul><%

        recipes_food.forEach( recipe => {
          recipeLabel = recipe.title.replace( '(', '<span>' ).replace( ')', '</span>' );
%>
          <li<% if ( recipes_new.indexOf( recipe.recipeid ) > -1 ) { %> class="new"<% } %>><a href="<%- recipe.path %>" class="btn btn-main"><%- recipeLabel %></a></li><%
          }) %>
        </ul>
      </div>
    </div>

  </div>