  <div class="home-main cover">
    <div class="content">

      <div class="home-logo">
        <img src="images/simpletomake-logo.svg" alt="Simple to Make it">
      </div>

      <div class="home-title">
        <h1><%- config.subtitle %></h1>
      </div>
<%
      var i, recipeLabel,
        recipes_list    = site.pages.filter( p => p.layout === 'recipe' ),
        recipes_hygiene = recipes_list.filter( p => p.category === 'hygiene' )
          .sort( 'index' ),
        recipes_food    = recipes_list.filter( p => p.category === 'food' )
          .sort( 'index' );
%>
      <div class="home-menu1">
        <h2><%- page.listTitleHygiene %></h2>
        <ul class="home-menu"><%
        recipes_hygiene.forEach( recipe => {
          recipeLabel = recipe.title.replace( '(', '<span>' ).replace( ')', '</span>' ); %>
          <li><a href="<%- recipe.path %>" class="btn"><%- recipeLabel %></a></li><%
        }) %>
        </ul>
      </div>

      <div class="home-menu2">
        <h2><%- page.listTitleFood %></h2>
        <ul class="home-menu"><%
        recipes_food.forEach( recipe => {
          recipeLabel = recipe.title.replace( '(', '<span>' ).replace( ')', '</span>' ); %>
          <li><a href="<%- recipe.path %>" class="btn"><%- recipeLabel %></a></li><%
        }) %>
        </ul>
      </div>

    </div>
  </div>