<%- partial('_partial/head') %>

<%- partial('_partial/nav') %>

<div class="main">
<%- body %>
</div>

<% if ( page.layout === 'recipe' ) { %>
<%- partial('_partial/recipenav') %>
<% } %>

<%- partial('_partial/foot') %>