<%- partial('_partial/header') %>
<% var i; %>
  <article>

    <section class="section1" id="principi">

      <h1><div class="sub"><span>Le 3 cose da sapere per fare <%- page.titleArticle %></span></div><%- page.title.toLowerCase() %></h1>

      <div class="card-list">
      <% for ( i = 0; i < page.principles.length; i++ ) { %>
        <div>
          <div class="card">
            <p><%- page.principles[ i ] %></p>
          </div>
        </div>
      <% } %>
        <div><%
        if ( page.timeToMake ) { %>
          <div class="card-time">
            <p>Si può fare in<br/><strong><%- page.timeToMake %></strong></p>
          </div><%
        } %>
        </div>

        <div><%
        if ( page.timeToUse ) { %>
          <div class="card-time">
            <p>Si può <% if ( page.category === 'hygiene' ) { %>usare<% } else { %>consumare<% } %> dopo<br/><strong><%- page.timeToUse %></strong></p>
          </div><%
        } %>
        </div>

        <div><%
        if ( page.sources ) { %>
          <div class="card-empty">
            <h5>Fonti</h5>
            <ul><%
            for ( i = 0; i < page.sources.length; i++ ) { %>
              <li><%- page.sources[ i ] %></li><%
            } %>
            </ul>
          </div><%
        } %>
        </div>

      </div>

    </section>

    <section class="section2" id="ingredienti">

      <h2>Ingredienti
        <div class="sub">
          <span><%- page.recipeIntro[ 0 ] %></span>
          <span class="quantity">
            <button class="btn" id="qtyRemove"><span>–</span></button><span id="qtyValue"><%- page.recipeIntro[ 1 ] %></span><% if ( page.recipeIntro[ 2 ] ) { %> <%- page.recipeIntro[ 2 ] %><% } %><button class="btn" id="qtyAdd"><span>+</span></button>
          </span>
          <span><%- page.recipeIntro[ 3 ] %></span>
        </div>
      </h2>

      <div class="card-list">
      <%

        var ingr = {};

        for ( i = 0; i < page.ingredients.length; i++ ) {

          ingr[ page.ingredients[ i ][ 0 ] ] = { ratio: +page.ingredients[ i ][ 1 ] };

          if ( page.ingredients[ i ].length > 2 ) {

      %>
        <div>
          <div class="card">
            <h3><span class="ingredient"><%- page.ingredients[ i ][ 2 ] %></span><% if ( page.ingredients[ i ][ 3 ] ) { %><br/><span class="quantity"><span data-qty="<%- page.ingredients[ i ][ 0 ] %>"><%- page.ingredients[ i ][ 3 ] %></span> <%- page.ingredients[ i ][ 4 ] %></span><% } %></h3>
            <% if ( page.ingredients[ i ][ 5 ] ) { %><p class="note"><%- page.ingredients[ i ][ 5 ] %></p><% } %>
          </div>
        </div><%
          }
        }
        if ( page.recipeDisclaimer ) { %>
        <div>
          <div class="card-empty">
            <p><%- page.recipeDisclaimer %></p>
          </div>
        </div>
      <% } %>
        <script>var recipeVolume=<%- page.recipeVolume %>;recipeWeight=<%- page.recipeWeight %>;<% if ( page.recipeUnits ) { %>recipeUnits=<%- page.recipeUnits %>;<% } %><% if ( page.recipeRange ) { %>recipeRange=[<%- page.recipeRange %>];<% } %><% if ( page.recipePrecision ) { %>recipePrecision=[<%- page.recipePrecision %>];<% } %>ingredients=<%- JSON.stringify( ingr ) %></script>
      </div>

    </section>

    <section class="section3" id="attrezzatura">

      <h2>Attrezzatura</h2>

      <div class="card-list">
      <% for ( i = 0; i < page.tools.length; i++ ) { %>
        <div>
          <div class="card">
            <h3><%- page.tools[ i ][ 0 ] %></h3>
            <% if ( page.tools[ i ][ 1 ] ) { %><p class="note"><%- page.tools[ i ][ 1 ] %></p><% } %>
          </div>
        </div>
      <% } %>
      </div>

    </section>

    <section class="section4 section-instructions" id="ricetta">

      <h2><div class="sub"><span>Ricetta passo passo</span></div>Come fare <%- page.titleArticle %> <%- page.title.toLowerCase() %></h2>

      <div class="card-list card-list-ordered">
      <% for ( i = 0; i < page.directions.length; i++ ) { %>
        <div>
          <div class="card<% if ( page.directions[ i ][ 2 ] ) { %> card-title<% } %>"><%
            if ( page.directions[ i ][ 2 ] ) { %>
              <h3><%- page.directions[ i ][ 2 ] %></h3><%
            } %>
            <p><%- page.directions[ i ][ 0 ] %></p>
            <% if ( page.directions[ i ][ 1 ] ) { %><p class="note"><%- page.directions[ i ][ 1 ] %></p><% } %>
          </div>
        </div>
      <% } %>
      </div>

    </section>

    <section class="section5" id="uso">

      <h2>Uso e conservazione</h2>

      <div class="card-list">
      <% for ( i = 0; i < page.usage.length; i++ ) { %>
        <div>
          <div class="card">
            <p><%- page.usage[ i ][ 0 ] %></p>
            <% if ( page.usage[ i ][ 1 ] ) { %><p class="note"><%- page.usage[ i ][ 1 ] %></p><% } %>
          </div>
        </div>
      <% } %>
      </div>

    </section>

    <div class="article-actions">
      <div class="btns-list">
        <a href="/" class="btn btn-main">\ <span class="mobilehide">Tutte le </span>ricette</a>
      </div>
      <div class="btns-list mobilehide">
        <button class="btn btn-main hidden" id="btn-prev"><span>&lt;</span></button>
        <button class="btn btn-main hidden" id="btn-next"><span>Continua &gt;</span></button>
      </div>
    </div>

  </article>

<%- partial('_partial/footer') %>