<% var i, j; %>

  <article>

    <section class="section1" id="principi">

      <h1><div class="sub"><span>Le 3 cose da sapere per fare <%- page.titleArticle %></span></div><span><%- page.title.toLowerCase() %></span></h1>

      <div class="card-list">
      <% for ( i = 0; i < page.principles.length; i++ ) { %>
        <div class="card">
          <p><%- page.principles[ i ] %></p>
        </div>
      <% } %>
        <div class="card-time"><%
        if ( page.timeToMake ) { %>
            <h5>Si può fare in</h5>
            <span><%- page.timeToMake %></span><%
        }
        if ( page.timeToUse ) { %>
            <h5>Si può <% if ( page.category === 'hygiene' ) { %>usare<% } else { %>consumare<% } %> dopo</h5>
            <span><%- page.timeToUse %></span><%
        } %>
        </div>

        <div><%
          if ( page.comparisonIngredients || page.comparisonPrices ) { %>
          <div class="card-empty">
            <h5>Rispetto ad un prodotto industriale</h5><%
            if ( page.comparisonIngredients ) { %>
            <div class="comparison">
              <h6>Ingredienti</h6>
              <div class="comparison-row">
                <% for ( j = 0; j < page.comparisonIngredients[ 0 ].length; j++ ) { %><ul><% for ( i = 0; i < (j > 0? page.comparisonIngredients[ 0 ][ j ]-page.comparisonIngredients[ 0 ][ j-1 ] : page.comparisonIngredients[ 0 ][ j ]); i++ ) { %><li></li><% } %></ul><% } %>
              </div>
              <span>anziché</span>
              <div class="comparison-row">
                <% for ( j = 0; j < page.comparisonIngredients[ 1 ].length; j++ ) { %><ul><% for ( i = 0; i < (j > 0? page.comparisonIngredients[ 1 ][ j ]-page.comparisonIngredients[ 1 ][ j-1 ] : page.comparisonIngredients[ 1 ][ j ]); i++ ) { %><li></li><% } %></ul><% } %>
              </div>
            </div><% }
            if ( page.comparisonPrices ) {
              var cPriceMax1 = +page.comparisonPrices[ 1 ][ 1 ],
                cPriceMin1 = Math.round( page.comparisonPrices[ 1 ][ 0 ] / cPriceMax1 * 100 ),
                cPriceMin0 = Math.round( page.comparisonPrices[ 0 ][ 0 ] / cPriceMax1 * 100 ),
                cPriceMax0 = Math.round( page.comparisonPrices[ 0 ][ 1 ] / cPriceMax1 * 100 );
            %>
            <div class="comparison">
              <h6>Costo <%- page.comparisonPricesQty %></h6>
              <div class="comparison-row">
                <h6>€ <%- page.comparisonPrices[ 0 ].join('-') %></strong></h6>
                <div class="bar" style="width:<%- cPriceMax0 %>%"></div><div class="bar" style="width:<%- cPriceMin0 %>%"></div>
              </div>
              <span>anziché</span>
              <div class="comparison-row">
                <h6>€ <%- page.comparisonPrices[ 1 ].join('-') %></h6>
                <div class="bar" style="width:100%"></div><div class="bar" style="width:<%- cPriceMin1 %>%"></div>
              </div>
            </div><% } %>
          </div><% } %>
        </div>

        <div><%
        if ( page.sources ) { %>
          <div class="card-empty">
            <h5>Riferimenti</h5>
            <ul><%
            for ( i = 0; i < page.sources.length; i++ ) { %>
              <li><%- page.sources[ i ] %></li><%
            } %>
            </ul>
          </div><%
        } %>
        </div>

      </div>

    </section>

    <section class="section2 section-ingredients" id="ingredienti">

      <h2>Ingredienti
        <div class="sub">
          <span><%- page.recipeIntro[ 0 ] %></span>
          <span class="quantity">
            <button class="btn btn-icon btn-icon-minus"></button><span id="qtyValue"><%- page.recipeBase.qty %></span><% if ( page.recipeBase.units ) { %> <%- page.recipeBase.units %><% } %><button class="btn btn-icon btn-icon-plus"></button>
          </span>
          <span><%- page.recipeIntro[ 1 ] %></span>
        </div>
      </h2>

      <div class="card-list">
      <%

        var ingr = {},
          recipeBaseRatio = 1;

        if ( page.recipeBase.units === 'ml' && page.ingredients[ 0 ].units !== 'ml' ) {
          var ingrSpecRatios = 0;
          for ( i in page.ingredients ) {
            if ( page.ingredients[ i ].spec ) {
              ingrSpecRatios += +page.ingredients[ i ].ratio / +page.ingredients[ i ].spec;
            }
          }
          recipeBaseRatio = Math.round( ( 1 / ingrSpecRatios ) * 100000 ) / 1000;
        }

        for ( i = 0; i < page.ingredients.length; i++ ) {

          if ( page.ingredients[ i ].ratio ) {
            ingr[ page.ingredients[ i ].id ] = {
              ratio: +page.ingredients[ i ].ratio,
              spec: +page.ingredients[ i ].spec,
              units: page.ingredients[ i ].units
            };
          }

          if ( page.ingredients[ i ].name ) {

      %>
        <div class="card">
          <h3><span class="ingredient"><%- page.ingredients[ i ].name %></span><% if ( page.ingredients[ i ].qty ) { %><span class="quantity"><span data-qty="<%- page.ingredients[ i ].id %>"><%- page.ingredients[ i ].qty %></span> <%- page.ingredients[ i ].units %></span><% } %></h3>
          <% if ( page.ingredients[ i ].notes ) { %><p class="note"><%- page.ingredients[ i ].notes %></p><% } %>
        </div><%
          }
        }
        if ( page.recipeDisclaimer ) { %>
        <div class="card-empty">
          <p><%- page.recipeDisclaimer %></p>
        </div>
      <% }
        page.qtyStep = ( page.recipeRange? page.recipeRange[ 2 ] : '50' ) + page.recipeBase.units;
      %>
        <script>var recipeBase=<%- JSON.stringify( page.recipeBase ) %>,recipeBaseRatio=<%- recipeBaseRatio %>,<% if ( page.recipeRange ) { %>recipeRange=[<%- page.recipeRange %>],<% } %><% if ( page.recipePrecision ) { %>recipePrecision=[<%- page.recipePrecision %>],<% } %>ingredients=<%- JSON.stringify( ingr ) %></script>
      </div>

    </section>

    <section class="section3" id="attrezzatura">

      <h2>Attrezzatura</h2>

      <div class="card-list">
      <% for ( i = 0; i < page.tools.length; i++ ) { %>
        <div class="card">
          <h3><%- page.tools[ i ][ 0 ] %></h3>
          <% if ( page.tools[ i ][ 1 ] ) { %><p class="note"><%- page.tools[ i ][ 1 ] %></p><% } %>
        </div>
      <% } %>
      </div>

    </section>

    <section class="section4 section-instructions" id="ricetta">

      <h2><div class="sub"><span>Ricetta passo passo</span></div>Come fare <%- page.titleArticle %> <%- page.title.toLowerCase() %></h2>

      <div class="card-list card-list-ordered">
      <% for ( i = 0; i < page.directions.length; i++ ) { %>
        <div class="card<% if ( page.directions[ i ][ 2 ] ) { %> card-title<% } %>"><%
          if ( page.directions[ i ][ 2 ] ) { %>
            <h3><%- page.directions[ i ][ 2 ] %></h3><%
          } %>
          <p><%- page.directions[ i ][ 0 ] %></p>
          <% if ( page.directions[ i ][ 1 ] ) { %><p class="note"><%- page.directions[ i ][ 1 ] %></p><% } %>
        </div>
      <% } %>
      </div>

    </section>

    <section class="section5 section-usage" id="uso">

      <div class="card-list">
        <div class="card">
          <h3>Come si usa</h3>
          <p><%- page.usage[ 0 ] %></p>
          <% if ( page.usage[ 1 ] ) { %><p class="note"><%- page.usage[ 1 ] %></p><% } %>
        </div>
        <div class="card">
          <h3>Come si conserva</h3>
          <p><%- page.storage[ 0 ] %></p>
          <% if ( page.storage[ 1 ] ) { %><p class="note"><%- page.storage[ 1 ] %></p><% } %>
        </div>
        <div class="card">
          <h3>Quanto dura</h3>
          <p><%- page.expiration[ 0 ] %></p>
          <% if ( page.expiration[ 1 ] ) { %><p class="note"><%- page.expiration[ 1 ] %></p><% } %>
        </div>
      </div>

    </section>

  </article>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Recipe",
      "name": "<%- page.title %>",
      "image": "<%- config.url %>/recipes/images/<%- page.recipeid + '-' + config.language %>.png",
      "author": {
        "@type": "Organization",
        "name": "simpletomake.it"
      },
      "recipeCategory": "<%- page.category %>",
      "keywords": "<%- config.keywords %>",
      "description": "<% for ( i = 0; i < page.principles.length; i++ ) { %><%- page.principles[ i ] %>. <% } %>",
      "recipeIngredient": [<%
        var ingrSchema = [];
        for ( i = 0; i < page.ingredients.length; i++ ) {
          if ( page.ingredients[ i ].name ) {
            ingrSchema.push( page.ingredients[ i ] );
          }
        }
        for ( i = 0; i < ingrSchema.length; i++ ) { %>
        "<% if ( ingrSchema[ i ].qty ) { %><%- ingrSchema[ i ].qty %> <%- ingrSchema[ i ].units %> <% } %><%- ingrSchema[ i ].name %>"<% if ( i < ingrSchema.length - 1 ) { %>, <% } %><% } %>
      ],
      "recipeInstructions": [<% for ( i = 0; i < page.directions.length; i++ ) { %>
        {
          "@type": "HowToStep",
          "text": "<%- page.directions[ i ] %>"
        }<% if ( i < page.directions.length - 1 ) { %>, <% } %><% } %>
      ]
    }
  </script>